<div style="text-align:center">
  <div class="display-3">{{ title }}</div>
  <div class="display-4">{{subtitle}}</div>
</div>

<div class="row">
  <div class="col">
    <div style="margin-top: 20px;">
      <app-top3></app-top3>
    </div>
    <div style="margin-top: 20px;">
      <app-participant-list style="margin-top: 20px;"></app-participant-list>
    </div>
  </div>
  <div class="col">
    <div style="margin-top: 20px;">
      <app-manager style="margin-top: 20px;"></app-manager>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
