<div style="text-align:center">
  <h1>{{ title }}</h1>
  <h2>{{subtitle}}</h2>
</div>

<div class="row">
  <div class="col">
    <div style="margin-top: 20px;">
      <app-top3></app-top3>
    </div>
    <div style="margin-top: 20px;">
      <app-participant-list style="margin-top: 20px;"></app-participant-list>
    </div>
  </div>
  <div class="col">
    <div style="margin-top: 20px;">
      <app-manager style="margin-top: 20px;"></app-manager>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
